In [1]:
import sqlite3
conn = sqlite3.connect("lesson.db")

In [2]:
conn.close()

In [3]:
with sqlite3.connect("lesson.db") as conn:
    pass

In [4]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")

In [5]:
cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasu City', 31)")

In [6]:
conn.commit()

In [7]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasu City', 31)

In [8]:
SELECT * FROM <table_name> LIMIT 50;

SyntaxError: invalid syntax (<ipython-input-8-4e9042c3ec54>, line 1)

In [10]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age DESC')
for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasu City', 31)

In [11]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()

In [12]:
cursor.execute("ALTER TABLE user ADD COLUMN gender text")

In [13]:
cursor.execute("UPDATE user SET gender='M'")
conn.commit()

In [14]:
SELECT count(*), col3 FROM table1 GROUP BY col3

SyntaxError: invalid syntax (<ipython-input-14-fa380fc15d77>, line 1)

In [15]:
cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")

In [17]:
rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")

In [19]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        CREATE TABLE comments (
            user_id text,
            comments text,
            FOREIGN KEY (user_id) REFERENCES user (email) 
            ON DELETE CASCADE ON UPDATE NO ACTION
        )
    """
    cursor.execute(sql)
    conn.commit()

OperationalError: database is locked

In [21]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = "INSERT INTO comments VALUES ('{}', '{}')"
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        email = row[0]
        print("Going to create rows for {}".format(email))
        name = row[1] + " " + row[2]
        for i in range(10):
            comment = "This is comment {} by {}".format(i, name)
            conn.cursor().execute(sql.format(email, comment))
    conn.commit()

Going to create rows for bob@example.com

OperationalError: no such table: comments

In [22]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        SELECT * FROM comments 
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

OperationalError: no such table: comments

In [23]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        SELECT comments.* FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

OperationalError: no such table: comments

In [24]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    cursor.execute("DELETE FROM user WHERE email='bob@example.com'")
    conn.commit()

OperationalError: database is locked

In [25]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasu City', 31, 'M')

In [26]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    rows = cursor.execute("SELECT * FROM comments")
    for row in rows:
        print(row)

OperationalError: no such table: comments

In [27]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    cursor.execute("UPDATE user set first_name='Chris' where email='tom@web.com'")
    conn.commit()
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

OperationalError: database is locked

In [28]:
import pandas as pd

columns = ["Email", "First Name", "Last Name", "Age", "Gender", "Comments"]
data = []
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    
    sql = """
        SELECT user.email, user.first_name, user.last_name, user.age, user.gender, comments.comments FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email = 'tom@web.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        data.append(row)

df = pd.DataFrame(data, columns=columns)
df.head()

OperationalError: no such table: comments